<style type="text/css">
  #title {
   line-height: 0; /* Изменяем межстрочное расстояние */
  }
  #title img {
   border: none; /* Убираем рамку вокруг изображения */
  }
 </style>


<div>
 <img src="/img/stadion-pobeda-volgograd_4.jpg" width="750" height="650" alt="Навигация по сайту"
      usemap="#Navigation"></div>
 <p><map name="Navigation">
 <area shape="poly" coords="0,500,200,500,200,0,0,0" href="/posts/daniil/" alt="Информация">
 <area shape="poly" coords="210,50,233,50,329,0,307,0" href="/posts/elisej/" alt="Мероприятия">
 <area shape="poly" coords="304,50,385,50,407,0,329,0" href="/posts/mama/" alt="Отделения">
 <area shape="poly" coords="384,50,449,50,473,0,406,0" href="/posts/nikita/" alt="Техническая информация">
 <area shape="poly" coords="449,50,501,50,525,0,473,0" href="/posts/papa/" alt="Обучение">
 <area shape="poly" coords="501,50,560,50,583,0,525,0" href="/posts/roditeli/" alt="Работа">
 <area shape="poly" coords="560,50,615,50,639,0,585,0" href="/test/" alt="Разное">

 </map></p>
